<header class="c-header active" id="c-header" role="banner">

  <div class="header-container">
    {% assign default_paths = site.pages | map: "path" %}
    {% assign page_paths = site.header_pages | default: default_paths %}

    {% if page_paths %}
      <nav class="c-nav projects">
        <div class="nav-items">
          <a href="/">Home</a>
          {% for post in site.posts reversed %}
            <a class="nav-items active" href="{{ post.url | escape }}">{{ post.title | escape }}</a>
          {% endfor %}
        </div>

      </nav>
    {% endif %}
  </div>
</header>
