<div class="Logistics" id="log">

  <h2>When is BEAT?</h2>
  <p>January 25th - 26th</p>

  <p>
    <ul>
      <li>Wednesday January 24th: check-in for out of towners</li>
      <li>Thursday January 25th: 9am - 5pm & evening dinner/activities</li>
      <li>Friday January 26th: 9am - 3pm</li>
    </ul>
  </p>

  <break></break>

  <h2>Where is BEAT</h2>
  <p><a href="https://www.thelinehotel.com/dc" target="_blank">The Line Hotel</a></p>

  <break></break>

  <h2>Meals at BEAT</h2>
  <p>All meals will be catered by the Line Hotel and will incorporate dietary requests and preferences. The food and beverage programs at the hotel are run by Spike Gjerde, Corey Polyoka, Todd Thrasher and Erik Bruner-Yang. I think we’ll eat and drink <a href="https://dc.eater.com/2016/4/11/11406188/line-hotel-restaurants-erik-bruner-yang-spike-gjerde" target="_blank">okay</a>.</p>

  <p>We will have a team dinner on Thursday evening that will finish by 9pm.</p>

  <break></break>

  <h2>Travel & Board at BEAT</h2>
  <p>If you are traveling to D.C. please use PRO750 when booking via Egencia.
  If you plan to drive, please mention that in registration and include the requested information.
  Please book your hotel room on the registration page using the booking link provided. If you are willing and/or interested in rooming with someone, please indicate that in the booking link.</p>

  <p>If you live in DC or the great DMV area, staying at the hotel is optional. We are happy to reimburse your travel expenses whether they are bus, metro, taxi or parking expenses should you forgo staying with us.</p>

  <break></break>

  <h2>How do I prepare for Beat?</h2>
  <p>Read through this site in its entirety
  Go to the “Sign Up” section and book your hotel and fill out the sign-up form.
  Book your travel (if applicable) via Egencia using PRO710. Do this ASAP!
  Head to the “Curate” page to start submitting your contributions.</p>

  <break></break>

  <h2>Participant Timeline</h2>
  <p>By December 1 make sure all of your contributions have been uploaded to the “Curate” Trello Board.
  In December, Ashley will start to work her scheduling magic and notify participants whether or not they’ll be presenting. She’ll also announce
  A near-final agenda will come together by end of December and be posted to the site.
  Explanations of how to prepare/get organized/choose your schedule will come in early January.</p>

  <break></break>

</div>
