<div class="participant" id="part">

  <h2>What is BEAT?</h2>
  <p>At its core, BEAT is an “unconference” in the sense that the content is decided by the participants. Topics may include industry related information, skill-building, and culture sharing. Formats include workshops, small conversations and storytelling/lightning talks. Additionally we’ll have some conversation from leadership and open office hours that you can book. We also want to welcome outside guest speakers, called “+1s”, to provide keynote speeches or workshops on topics you pick.</p>

  <break></break>

  <h2>How is BEAT different than AFK?</h2>
  <p>To date we’ve had three AFKs. The first was at a campsite in the Shenandoah Valley, the second followed the 2016 Chicago VAX and the third was a design team retreat. We’ve had lots of variations of format, style and purpose for AFK, so we wanted to create a clear delineation between the two. BEAT is our answer to a team all-hands that was normally covered within the timeline of VAX, but unsuccessfully due to time constraints.</p>

  <break></break>

  <h2>Do I have to use ProDev to attend BEAT?</h2>
  <p>No, Vox Media is covering the costs for BEAT and we’re extremely grateful they’ve allowed us to do this.</p>

  <break></break>

  <h2>This is a “Vox Product” event but I’m embedded into another team; can I still attend?</h2>
  <p>Yes, all product, design and technology team members may attend. If you have questions about someone’s participation, reach out directly to Ashley to ask.</p>

  <break></break>

  <h2>Will there be space for me to take a break and recharge?</h2>
  <p>Yes, there will be designated quiet areas as well as lengthier break times. Additionally, if you wish to take a longer break from programming, you may do so.</p>

  <break></break>

  <h2>Is BEAT mandatory?</h2>
  <p>While BEAT is not mandatory, it is highly encouraged. Trust us, the FOMO will be real, so we hope you’ll plan to join us.</p>

  <break></break>

  <h2>Do you cover childcare costs during the event?</h2>
  <p>Unfortunately no. We are not at the scale to be able to cover childcare costs for any work or team related events. I hope with enough advanced planning you are able to find coverage and join us!</p>

  <break></break>

  <h2>Will the content be recorded?</h2>
  <p>We haven’t decided yet. This will be based on the topics and capabilities to do so. TL;DR, it might not be pretty and therefore, not worthwhile. If you have suggestions on this, let me know!</p>

  <break></break>

  <h2>Do I have to “contribute” to BEAT? What if I don’t have anything to share or get anxiety speaking to large groups?</h2>
  <p>Whether you believe us or not, you definitely have something to contribute or you wouldn’t be here! Everyone on our team has unique talents and interests or things that you’re learning more about and want to share! We won’t have time to hear from everyone, however, we encourage you to at least apply. Additionally, if you’re a little shy, you could also propose a post-dinner activity like a board game you love. Even if you don’t host something, attitude is everything; plan to come as an active and engaged participant!</p>

  <p><a href="https://docs.google.com/document/d/1cQQ467zCs549MMVEEhFT0T9xTx4KJWNwFjOqFTK8N-8" target="_blank">Here are some examples of what you might be able to host.</a></p>

  <break></break>

</div>
