<div class="participant" id="part">

  <p>
    <b>Jump To:</b><br><a href="#quick">Quick Facts</a>, <a href="#part_guide">Participant Guide</a>, <a href="#faq">FAQs</a>
  </p>

  <p>At its core, BEAT is an “unconference” in the sense that the content is decided by the participants. Topics may include industry related information, skill-building, and culture sharing. Formats include workshops, small conversations and storytelling/lightning talks. Additionally we’ll have some conversation from leadership and open office hours that you can book. We also want to welcome outside guest speakers, called “+1s”, to provide keynote speeches or workshops on topics you pick.</p>

  <p>View our Quick Facts section to source basic information about the event. To learn more about how you play a role in the event, check out our participant guide. If questions come up, see if they’re answered in the FAQs, otherwise @Ashley.Twaddell via DM in slack or in the #beat2019 slack channel.</p>

  <break id="quick"></break>

  <h2 class="ul">Quick Facts</h2>
  <p>
  <ul>
    <li><b>When:</b> Feb 20th (arrive before dinner) - Feb 21 (9am-9pm) - Feb 22nd (3pm)</li>
    <li><b>Where:</b> <a target="_blank" href="https://www.eatonworkshop.com/hotel/dc">Eaton Hotel</a> 1201 K St NW, Washington, DC 20005, Farragut West (Blue Line) metro stop -- The hotel will serve as the venue and hotel rooms.</li>
    <li><b>Meals:</b> All meals during programming hours will be catered by the hotel and inclusive of dietary needs. All travel meals or team meals are expensable using your travel code.</li>
    <li><b>Travel/Hotel:</b> You will use Egencia to book your travel using your travel budget code. Your hotel reservation will be managed by Ashley. You’ll select your check-in, check-out dates in the sign-up form. If you are driving, you will leave your car information and schedule in the sign-up form as well. </li>
    <li><b>Budget codes:</b> 
      <ul>
        <li>Please use your travel code for all travel related expenses: transit, meals, luggage</li>
        <li>Please use <b>PRO710</b> for approved expenses related to supply needs for workshops.</li>
        <li>Your travel code is as follows:
          <ul>
            <li>Product team (PMs, QA, Community, etc.): <b>PRO700</b></li>
            <li>Engineering: <b>TCH700</b></li>
            <li>Brand Design: <b>DSN700</b></li>
            <li>Revenue Design: <b>RDS700</b></li>
            <li>IT: <b>CIT700</b></li>
            <li>Media Services: <b>STU700</b></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  </p>

  <break id="part_guide"></break>

  <h2 class="ul">Participant Guide</h2>
  <p>BEAT is all about bringing your whole self to connect with and learn from your peers and partners. It’s a great opportunity to meet teammates face-to-face and introduce yourself and what you do to people you’ve never met.</p>

  <p>BEAT is also a great opportunity to practice your presentation and workshop facilitation skills. Sharing knowledge is an important skill no matter what team you’re on or what your role is and preparing a talk, workshop or activity is a great way to hone that skill in a very welcoming space! You can even sign up to co-host something!</p>

  <p>Even if you don’t present, we hope that you show up in an engaged way at BEAT. We want you to play full out, voice your opinions, ask for help as you’re learning something and offer help to anyone that needs it. We’ve intentionally designed an environment for learning and sharing that is: open-minded, respectful, inclusive and ideal for trying and experiencing new things. If you’re slightly uncomfortable, but still willing, we’ll know we’ve planned this right.</p>

  <p>Practically speaking, to participate in BEAT you’ll need to complete the items on the high-level planning schedule listed below. Even if you don’t plan to submit an idea, please vote on submissions or offer up topics on the Guided Conversations/+1s list or Backboard list. When it comes time for the event, it follows a “choose your own adventure” format; you’ll head to whatever session is of interest to you at that time. You can either follow a specific track e.g. a designer attending all design presentations OR you can mix and match; go to some skillshares, some non-work related workshops or attend a program outside your discipline to learn more about it. The choice is yours!</p>

  <h2>High-Level Planning Schedule</h2>
  <p>
    <ol>
      <li>Register for BEAT by Friday January 18th.</li>
      <li>Submit your workshop or talk ideas by Thurs. Jan. 31</li>
      <li>Accepted proposals will be announced Monday Feb. 4th. (Notified via email)</li>
      <li>Book your travel by Friday Feb. 8th</li>
      <li>Join the BEAT slack rooms: <b>#beat-2019</b>, <b>#beat-announce</b>, <b>#beat-social</b></li>
    </ol>
  </p>

  <h2>Communications up to and during the event</h2>
  <p>Major communication announcements will be sent via email to the pdt email listserv and cross-posted in the #beat-announce slack channel. During the event, #beat-announce will be the main communication channel for any all-participant notifications and organizing information. Two other slack channels will be used during the event:</p>
  <p>
    <ul>
      <li><b>#beat-2019</b>: primary chit chat channel</li>
      <li><b>#beat-social</b>: to plan anything self-organized outside of BEAT programming</li>
    </ul>
  </p>

  <break id="faq"></break>

  <h2 class="ul">FAQs</h2>
  <h2>Is BEAT mandatory?</h2>
  <p>While BEAT is not mandatory, it is highly encouraged. Trust us, the FOMO will be real, so we hope you’ll plan to join us!</p>

  <h2>Who comes to BEAT?</h2>
  <p>All members of the product, design and technology groups are invited to BEAT in addition to some operations team folks who work closely with Chorus. If you have questions about someone’s participation, reach out directly to Ashley to ask.</p>

  <h2>What type of workshops or talks are given at BEAT?</h2>
  <p>We encourage diverse programming! Since BEAT is set up to be a “choose your own adventure” style conference, we like to mix up the workshop and talk topics. We like to see deep work topics, beginner and advanced skills programming, interdisciplinary round-table conversations, and programs beyond work related topics. Check out last year’s schedule <a target="_blank" href="https://docs.google.com/document/d/1TXB71Np0bz-jvE77M0yh2imO6VLsxYNCpMyF6IeOERY/edit">here</a>.</p>

  <h2>If I’m based in the DC area, do I have to stay at the hotel?</h2>
  <p>Nope! Please feel free to commute to and from the hotel as if it’s a day conference. We can cover a taxi ride home should you decide to stay late for the team dinner on Thursday.</p>

  <h2>Do I have to “contribute” to BEAT? What if I don’t have anything to share or get anxiety speaking to large groups?</h2>
  <p>Whether you believe us or not, you definitely have something to contribute or you wouldn’t be here! Everyone on our team has unique talents and interests or things that you’re learning more about and want to share! We won’t have time to hear from everyone, however, we encourage you to at least apply. Additionally, if you’re a little shy, you could also propose a post-dinner activity like a board game you love. Even if you don’t host something, attitude is everything; plan to come as an active and engaged participant in whatever way that means for you!</p>

  <h2>Will the content be recorded?</h2>
  <p>I can’t guarantee that all content will be recorded. We don’t currently have the means to set up recording in every breakout space due to cost and resource constraints. We will, however, keep an archive folder of presentations and notes.</p>

  <h2>Are there breaks at BEAT?</h2>
  <p>Yes. We have a few breaks scattered throughout each day’s programming to help balance the amount of programming offered.</p>

  <break></break>

</div>