* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  position: relative;
  min-height: 100vh;

  &.blue {
    background: $blue-main;
    .beat-fill {
      fill: $blue-main;
    }
    .c-header {
      background: $blue-main;
    }
  }

  &.pink {
    background: $pink-main;
    .beat-fill {
      fill: $pink-main;
    }
    .c-header {
      background: $pink-main;
    }
  }

  &.gold {
    background: $gold-main;
    .beat-fill {
      fill: $gold-main;
    }
    .c-header {
      background: $gold-main;
    }
  }

  &.green {
    background: $green-main;
    .beat-fill {
      fill: $green-main;
    }
    .c-header {
      background: $green-main;
    }
  }

  &.red {
    background: $red-main;
    .beat-fill {
      fill: $red-main;
    }
    .c-header {
      background: $red-main;
    }
  }

  &.orange {
    background: $orange-main;
    .beat-fill {
      fill: $orange-main;
    }
    .c-header {
      background: $orange-main;
    }
  }

  &.purple {
    background: $purple-main;
    .beat-fill {
      fill: $purple-main;
    }
    .c-header {
      background: $purple-main;
    }
  }
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color $transition-time;
  &:hover {
    color: $link-hover-color;
  }
}

code,
pre {
  padding: 3px 5px;
  border-radius: 5px;
  background: $grey-color-light;
}

pre {
  padding: 6px 10px;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      background: $grey-color-light;
    }
  }

  th {
    padding: 12px 15px;
  }

  td {
    padding: 10px 15px;
    border-top: 1px solid $grey-color-light;
  }

  tr:hover {
    td {
      background: $grey-color-light;
    }
  }
}

p + ul {
  margin: -1rem auto 2rem !important;
}

%wrapper {
  max-width: 100%;
}

@keyframes example {
  from {transform: rotate(0deg);}
  to {transform: rotate(720deg);}
}

#moving-seal {
  transform-origin: center;
  animation: example 30s linear 2s infinite;
}









