* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
  position: relative;
  min-height: 100vh;

  $colors:  blue, pink,
            gold, green,
            red, orange,
            purple;

  $val: $blue-main, $pink-main,
        $gold-main, $green-main,
        $red-main, $orange-main,
        $purple-main;

  @for $i from 1 through length($colors) {
    &.#{nth($colors, $i)} {
      background: nth($val, $i);
      .beat-fill {
        fill: #{nth($val, $i)};
      }
      .c-header {
        background: #{nth($val, $i)};
      }
    }
  }
}

img,
video {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: $link-color;
  transition: color $transition-time;
  &:hover {
    color: $link-hover-color;
  }
}

code,
pre {
  padding: 3px 5px;
  border-radius: 5px;
  background: $grey-color-light;
}

pre {
  padding: 6px 10px;
}

table {
  text-align: center;
  border-collapse: collapse;
  width: 100%;

  thead {
    th {
      background: $grey-color-light;
    }
  }

  th {
    padding: 12px 15px;
  }

  td {
    padding: 10px 15px;
    border-top: 1px solid $grey-color-light;
  }

  tr:hover {
    td {
      background: $grey-color-light;
    }
  }
}

p + ul {
  margin: -1rem auto 2rem !important;
}

%wrapper {
  max-width: 100%;
}

@keyframes example {
  from {transform: rotate(0deg);}
  to {transform: rotate(720deg);}
}

#moving-seal {
  transform-origin: center;
  animation: example 30s linear 2s infinite;
}









