.c-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-main;
  color: $white-main;
  font-family: $copy-font-family;
  padding: 2vw 0;

  @include media-query {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %wrapper;
  }
}
