.c-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-main;
  color: $white-main;
  font-family: $copy-font-family;
  padding: 2vw 0;
  position: relative;

  .c-footer-charm {
    position: absolute;
    top: -1.75vw;
    left: 20vw;
    transform: scale(1.5);
  }

  @include media-query {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %wrapper;
  }

  a {
    color: $white-main;
    border-bottom: 1px solid $white-main;
    transition: opacity $transition-time;

    &:hover {
      opacity: .8;
    }
  }
}
