.c-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $black-main;
  color: $white-main;
  font-family: $copy-font-family;
  padding: 2vw 0;
  position: relative;

  @include media-query {
    padding-right: 0rem;
    padding-left: 0rem;
  }

  .c-footer-charm {
    position: absolute;
    top: -5.75vw;
    left: 6vw;
    transform: scale(1.5);

    @include media-query {
      top: -1.75vw;
      left: 20vw;
    }
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @extend %wrapper;
  }

  p {
    max-width: 215px;
    margin-left: 3vw;

    @include media-query {
      max-width: 100%;
      margin-left: 0vw;
    }
  }

  a {
    color: $white-main;
    border-bottom: 1px solid $white-main;
    transition: opacity $transition-time;

    &:hover {
      opacity: .8;
    }
  }
}
