.c-header {
  position: fixed;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all $transition-time;
  z-index: 9;
  .c-header-inner {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    padding: 10px 0;
    height: 64px;
  }
  .c-nav-logos {
    svg {
      display: inline-block;
      height: auto;
      z-index: 99;
    }
    svg:nth-child(1) {
      height: 40px;
      margin: 0 auto;
      position: absolute;
      left: 10px;
      top: 12px;
    }
    svg:nth-child(2) {
      max-width: 50px;
      position: absolute;
      top: 30px;
      left: 105px;
    }
  }
  &.active {
    visibility: visible;
    opacity: 1;
  }
  .hamburger {
    position: absolute;
    right: 0;
    top: 16px;
    display: inline-block;
    padding: 15px;
    overflow: hidden;
    margin: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    border: 0;
    background-color: transparent;
    z-index: 99;
    &:hover {
      .hamburger-inner {
        width: 40px !important;
        background-color: #000 !important;
        &:before,
        &:after {
          background-color: #000 !important;
        }
      }
    }
    .hamburger-box {
      position: relative;
      display: inline-block;
      width: 38px;
      height: 7px;
      .hamburger-inner {
        transition: all .125s ease-in .175s;
        position: absolute;
        width: 30px;
        height: 4px;
        background-color: #fff;
        &.active {
          width: 40px;
        }
        &:before {
          left: 0;
          transition: transform .125s cubic-bezier(.6,.04,.98,.335),top .05s linear .125s,left .125s ease-in .175s;
          top: -10px;
        }
        &:after {
          top: 10px;
          right: 0;
          transition: transform .125s cubic-bezier(.6,.04,.98,.335),top .05s linear .125s,right .125s ease-in .175s;
          bottom: -10px;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          position: absolute;
          width: 40px;
          height: 4px;
          transition-timing-function: ease;
          transition-duration: .15s;
          transition-property: transform;
          background-color: #fff;
        }
        &.active {
          transition-delay: 0s;
          transition-timing-function: ease-out;
          background-color: transparent!important;
          &:before {
            top: -80px;
            left: -80px;
            transition: left .125s ease-out,top .05s linear .125s,transform .125s cubic-bezier(.075,.82,.165,1) .175s;
            transform: translate3d(80px,80px,0) rotate(45deg);
          }
          &:after {
            top: -80px;
            right: -80px;
            transition: right .125s ease-out,top .05s linear .125s,transform .125s cubic-bezier(.075,.82,.165,1) .175s;
            transform: translate3d(-80px,80px,0) rotate(-45deg);
          }
        }
      }
    }
  }
}

@keyframes example {
  from {transform: rotate(0deg);}
  to {transform: rotate(720deg);}
}

#rotate {
  transform-origin: center;
  animation: example 30s linear 2s infinite;
}
