.c-header {
  position: fixed;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all $transition-time;
  z-index: 9;

  display: flex;
  justify-content: center;

  .header-container {
    display: flex;
    align-items: center;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    @extend %wrapper;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
