.c-nav {
  font-family: $base-font-family;
  transition: all $transition-time;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  opacity: 0;
  display: flex;
  align-items: center;
  top: -100%;
  transform-origin: center;
  &.active {
    opacity: 1;
    top: 0;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  a {
    margin: .5rem auto;
    display: inline-block;
    font-weight: 900;
    color: $white-main;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    font-size: calc(18px + 2vw);

    &:before {
      content: "";
      left: 0;
      right: 0;
      height: 0vw;
      bottom: 2px;
      background: black;
      position: absolute;
      z-index: -1;
      transition: all .3s;
    }

    &:hover {
      &:before {
        height: 50%;
      }
    }
  }
}

