.c-post--intro {
  min-height: 100vh;
  position: relative;

  &:before {
    content: "";
    height: 130vw;
    width: 250vw;
    background: darken($grey-main, 5%);
    background-image: url('/images/shield-outline.svg');
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: -39vw 37vw;
    position: absolute;
    top: 0vw;
    left: 50vw;
    z-index: -1;
    transform: skew(54deg);

    @include media-query {
      height: 100vw;
      background-position: -44vw 26vw;
      top: -13.5vw;
    }
  }
}

.c-post--list {
  min-height: 100vh;
  position: relative;
  padding: 0 1rem;
  padding-bottom: 10vw;
  padding-top: 100px;

  @include media-query {

  }

  p {
    font-family: 'Source Code Pro', monospace;
    max-width: $line-width;
    color: $white-main;
    margin: 0vw auto 2rem;
    line-height: 1.5rem;
  }

  a {
    color: $white-main;
    border-bottom: 1px solid $white-main;
    transition: opacity $transition-time;

    &:hover {
      opacity: .8;
    }
  }

  h1, h2, h3,
  h4, h5, h6 {
    color: $white-main;
    max-width: $line-width;
    margin: 0vw auto 1rem;
  }

  break {
    display: block;
    margin-bottom: 6rem;
  }

  ul,ol {
    max-width: $line-width;
    color: $white-main;
    margin: 0vw auto 2rem;
    li {
      p {
        margin: 0vw auto 1rem;
      }
    }
  }
}

.c-post {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  &-tag {

    &-left,
    &-right {
      position: absolute;
      top: 55vw;
      font-weight: 900;
      font-size: 3.5vw;

      @include media-query {
        top: 27vw;
        font-size: 1.5vw;
      }
    }

    &-left {
      left: -5vw;
      transform: rotate(-90deg);
      color: $white-main;

      @include media-query {
        left: 0;
      }
    }
    &-right {
      right: -6vw;
      transform: rotate(90deg);

      @include media-query {
        right: 0;
      }
    }
  }
}

.c-seal {
  position: absolute;
  top: 22vw;
  left: 69vw;
  width: 11vw;
  height: 11vw;

  @include media-query {
    top: 13vw;
    left: 59vw;
    width: 7vw;
    height: 7vw;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.c-beat-logo {
  display: flex;
  flex-direction: column;

  margin-top: 3vw;
  height: 24vw;

  @include media-query {
    height: 12vw;
  }

  svg {
    width: 100%;

    &:nth-child(1) {
      height: 10vw;
      margin-bottom: 1vw;
    }
  }
}

.c-shield-outline {

}

.c-about-main {
  margin-top: 33vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-query {
    margin-top: 10vw;
  }

  a {
    text-transform: uppercase;
    font-weight: 900;
    color: $white-main;
    font-size: calc(18px + 3vw);
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      width: 100%;
      height: 0vw;
      bottom: .5vw;
      background: black;
      position: absolute;
      z-index: -1;
      transition: all .3s;
    }

    &:hover {
      &:before {
        height: 50%;
      }
    }
  }
}

.google-maps {
  position: relative;
  padding-bottom: 80%;
  height: 0;
  margin: 0 auto;
  margin-bottom: 2rem;
  filter: grayscale(50%);

  max-width: 90%;

  @include media-query {
    max-width: 100%;
  }

  &:before {
    content: "";
    display: block;
    border: 3px solid $white-main;
    position: relative;
    height: 77.5vw;
    width: 100%;
    transform: translate(10px, 10px);
    z-index: -1;

    @include media-query {
      height: 375px;
    }
  }

  @include media-query {
    // padding-bottom: 30%;
    // max-width: 45%;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
