.c-post--list {
  min-height: 100vh;
  overflow-y: hidden;
  position: relative;
  padding-bottom: 10vw;

  &:nth-child(1) {
    &:before {
      content: "";
      height: 100vw;
      width: 250vw;
      background: $grey-main;
      background-image: url('/images/shield-outline.svg');
      background-repeat: no-repeat;
      background-size: 43%;
      background-position: -44vw 26vw;
      position: absolute;
      top: -13.5vw;
      left: 50vw;
      z-index: -1;
      transform: skew(54deg);
    }
  }

  p {
    font-family: 'Source Code Pro', monospace;
    max-width: 425px;
    color: $white-main;
    margin: 8vw auto 0vw;
  }
}

.c-post {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;

  &-tag {

    &-left,
    &-right {
      position: absolute;
      top: 20vw;
      font-weight: 900;
      font-size: 1.5vw;
    }

    &-left {
      left: 0;
      transform: rotate(-90deg);
      color: $white-main;
    }
    &-right {
      right: 0;
      transform: rotate(90deg);
    }
  }
}

.c-seal {
  position: absolute;
  top: 13vw;
  left: 59vw;
  width: 7vw;

  svg {
    width: 100%;
  }
}

.c-beat-logo {
  display: flex;
  flex-direction: column;

  margin-top: 3vw;
  height: 12vw;

  svg {
    width: 100%;

    &:nth-child(1) {
      height: 10vw;
      margin-bottom: 1vw;
    }
  }
}

.c-shield-outline {

}

.c-about-main {
  margin-top: 15vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-transform: uppercase;
    font-weight: 900;
    color: $white-main;
    font-size: 5vw;
    position: relative;
    z-index: 1;

    &:before {
      content: "";
      width: 100%;
      height: 0vw;
      bottom: .5vw;
      background: black;
      position: absolute;
      z-index: -1;
      transition: all .3s;
    }

    &:hover {
      &:before {
        height: 3vw;
      }
    }
  }
}
