#logistics,
#participant {
  display: none;
}

@include media-query {
  #logistics,
  #participant {
    display: inline-block;
  }

  .section {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 5vw;

    &.active {
      max-height: 100%;
    }

    .Logistics {
      visibility: hidden;
      opacity: 0;
      transition: all $transition-time;
      transform: translateX(0%);
      max-height: 70vh;
      overflow: scroll;
      padding: 20px;
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(50%);
      }
    }

    .participant {
      visibility: hidden;
      opacity: 0;
      transition: all $transition-time;
      transform: translateX(0%);
      max-height: 70vh;
      overflow: scroll;
      padding: 20px;
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateX(-50%);
      }
    }
  }
}

#register {
  &:before {
    content: "";
    height: 130vw;
    width: 250vw;
    background-repeat: no-repeat;
    background-size: 43%;
    background-position: -39vw 37vw;
    position: absolute;
    top: 0vw;
    left: 50vw;
    z-index: -1;
    transform: skew(54deg);

    @include media-query {
      background: darken($grey-main, 5%);
      height: 50vw;
      background-position: -44vw 26vw;
      top: -13.5vw;
      transform: translate(-50%, 10%) rotate(40deg);
    }
  }
}
